{:deps   true
 :nrepl  {:port #shadow/env ["CLJS_NREPL_PORT" :as :int :default 7400]}
 :builds {:test {:target           :browser
                 :output-dir       "target/cljs-test"
                 :asset-path       "/cljs-test"
                 :compiler-options {:warnings {:redef false}}
                 :modules          {:test {:init-fn slag.test.cljs.executor/test!}}
                 :test-dir         "target/cljs-test"}}}
