{:project skuttleman/slag-test
 :paths   ["src"]
 :deps    {aleph/aleph               {:mvn/version "0.9.9"}
           etaoin/etaoin             {:mvn/version "1.1.43"}
           hiccup/hiccup             {:mvn/version "2.0.0"}
           org.clojure/clojure       {:mvn/version "1.12.5"}
           org.clojure/clojurescript {:mvn/version "1.12.145"}
           org.clojure/core.async    {:mvn/version "1.9.865"}}}
