{:project skuttleman/slag-core
 :paths   ["src"]
 :deps    {com.yetanalytics/colossal-squuid {:mvn/version "0.1.5"}
           danlentz/clj-uuid                {:mvn/version "0.2.5"}
           org.clojure/clojure              {:mvn/version "1.12.5"}}
 :aliases {:test  {:extra-deps {skuttleman/slag-test {:local/root "../test-utils"}}}
           :build {:extra-paths ["tools/src"]
                   :deps        {org.clojure/clojure           {:mvn/version "1.12.5"}
                                 io.github.clojure/tools.build {:mvn/version "0.10.13"}}}}}
